<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>continent</key>
		<string>Africa</string>
		<key>flag</key>
		<string>burkina_faso.gif</string>
		<key>name</key>
		<string>Burkina Faso</string>
	</dict>
	<dict>
		<key>continent</key>
		<string>Asia</string>
		<key>flag</key>
		<string>armenia.gif</string>
		<key>name</key>
		<string>Armenia</string>
	</dict>
	<dict>
		<key>continent</key>
		<string>Europe</string>
		<key>flag</key>
		<string>croatia.gif</string>
		<key>name</key>
		<string>Croatia</string>
	</dict>
	<dict>
		<key>continent</key>
		<string>Africa</string>
		<key>flag</key>
		<string>kenya.gif</string>
		<key>name</key>
		<string>Kenya</string>
	</dict>
	<dict>
		<key>continent</key>
		<string>Central America</string>
		<key>flag</key>
		<string>puerto_rico.gif</string>
		<key>name</key>
		<string>Puerto Rico</string>
	</dict>
	<dict>
		<key>continent</key>
		<string>Europe</string>
		<key>flag</key>
		<string>netherlands.gif</string>
		<key>name</key>
		<string>Netherlands</string>
	</dict>
	<dict>
		<key>continent</key>
		<string>Asia</string>
		<key>flag</key>
		<string>kuwait.gif</string>
		<key>name</key>
		<string>Kuwait</string>
	</dict>
	<dict>
		<key>continent</key>
		<string>Africa</string>
		<key>flag</key>
		<string>malawi.gif</string>
		<key>name</key>
		<string>Malawi</string>
	</dict>
	<dict>
		<key>continent</key>
		<string>Asia</string>
		<key>flag</key>
		<string>oman.gif</string>
		<key>name</key>
		<string>Oman</string>
	</dict>
	<dict>
		<key>continent</key>
		<string>Asia</string>
		<key>flag</key>
		<string>maldives.gif</string>
		<key>name</key>
		<string>Maldives</string>
	</dict>
	<dict>
		<key>continent</key>
		<string>Europe</string>
		<key>flag</key>
		<string>czech_republic.gif</string>
		<key>name</key>
		<string>Czech Republic</string>
	</dict>
	<dict>
		<key>continent</key>
		<string>Asia</string>
		<key>flag</key>
		<string>japan.gif</string>
		<key>name</key>
		<string>Japan</string>
	</dict>
	<dict>
		<key>continent</key>
		<string>Europe</string>
		<key>flag</key>
		<string>poland.gif</string>
		<key>name</key>
		<string>Poland</string>
	</dict>
	<dict>
		<key>continent</key>
		<string>Asia</string>
		<key>flag</key>
		<string>vietnam.gif</string>
		<key>name</key>
		<string>Vietnam</string>
	</dict>
	<dict>
		<key>continent</key>
		<string>Europe</string>
		<key>flag</key>
		<string>bulgaria.gif</string>
		<key>name</key>
		<string>Bulgaria</string>
	</dict>
	<dict>
		<key>continent</key>
		<string>Europe</string>
		<key>flag</key>
		<string>luxembourg.gif</string>
		<key>name</key>
		<string>Luxembourg</string>
	</dict>
	<dict>
		<key>continent</key>
		<string>Africa</string>
		<key>flag</key>
		<string>seychelles.gif</string>
		<key>name</key>
		<string>Seychelles</string>
	</dict>
	<dict>
		<key>continent</key>
		<string>South America</string>
		<key>flag</key>
		<string>argentina.gif</string>
		<key>name</key>
		<string>Argentina</string>
	</dict>
	<dict>
		<key>continent</key>
		<string>Central America</string>
		<key>flag</key>
		<string>belize.gif</string>
		<key>name</key>
		<string>Belize</string>
	</dict>
	<dict>
		<key>continent</key>
		<string>Asia</string>
		<key>flag</key>
		<string>israel.gif</string>
		<key>name</key>
		<string>Israel</string>
	</dict>
	<dict>
		<key>continent</key>
		<string>Asia</string>
		<key>flag</key>
		<string>india.gif</string>
		<key>name</key>
		<string>India</string>
	</dict>
	<dict>
		<key>continent</key>
		<string>Africa</string>
		<key>flag</key>
		<string>mozambique.gif</string>
		<key>name</key>
		<string>Mozambique</string>
	</dict>
	<dict>
		<key>continent</key>
		<string>Central America</string>
		<key>flag</key>
		<string>saint_lucia.gif</string>
		<key>name</key>
		<string>Saint Lucia</string>
	</dict>
	<dict>
		<key>continent</key>
		<string>South America</string>
		<key>flag</key>
		<string>suriname.gif</string>
		<key>name</key>
		<string>Suriname</string>
	</dict>
	<dict>
		<key>continent</key>
		<string>Europe</string>
		<key>flag</key>
		<string>bosnia_and_herzegovina.gif</string>
		<key>name</key>
		<string>Bosnia and Herzegovina</string>
	</dict>
	<dict>
		<key>continent</key>
		<string>Africa</string>
		<key>flag</key>
		<string>madagascar.gif</string>
		<key>name</key>
		<string>Madagascar</string>
	</dict>
	<dict>
		<key>continent</key>
		<string>Europe</string>
		<key>flag</key>
		<string>greece.gif</string>
		<key>name</key>
		<string>Greece</string>
	</dict>
	<dict>
		<key>continent</key>
		<string>Africa</string>
		<key>flag</key>
		<string>morocco.gif</string>
		<key>name</key>
		<string>Morocco</string>
	</dict>
	<dict>
		<key>continent</key>
		<string>Africa</string>
		<key>flag</key>
		<string>benin.gif</string>
		<key>name</key>
		<string>Benin</string>
	</dict>
	<dict>
		<key>continent</key>
		<string>Asia</string>
		<key>flag</key>
		<string>bhutan.gif</string>
		<key>name</key>
		<string>Bhutan</string>
	</dict>
	<dict>
		<key>continent</key>
		<string>Oceania</string>
		<key>flag</key>
		<string>vanuatu.gif</string>
		<key>name</key>
		<string>Vanuatu</string>
	</dict>
	<dict>
		<key>continent</key>
		<string>Europe</string>
		<key>flag</key>
		<string>kosovo.gif</string>
		<key>name</key>
		<string>Kosovo</string>
	</dict>
	<dict>
		<key>continent</key>
		<string>Africa</string>
		<key>flag</key>
		<string>eritrea.gif</string>
		<key>name</key>
		<string>Eritrea</string>
	</dict>
	<dict>
		<key>continent</key>
		<string>Asia</string>
		<key>flag</key>
		<string>indonesia.gif</string>
		<key>name</key>
		<string>Indonesia</string>
	</dict>
	<dict>
		<key>continent</key>
		<string>Europe</string>
		<key>flag</key>
		<string>united_kingdom.gif</string>
		<key>name</key>
		<string>United Kingdom</string>
	</dict>
	<dict>
		<key>continent</key>
		<string>Europe</string>
		<key>flag</key>
		<string>bulgaria.gif</string>
		<key>name</key>
		<string>Bulgaria</string>
	</dict>
	<dict>
		<key>continent</key>
		<string>Europe</string>
		<key>flag</key>
		<string>malta.gif</string>
		<key>name</key>
		<string>Malta</string>
	</dict>
	<dict>
		<key>continent</key>
		<string>Central America</string>
		<key>flag</key>
		<string>honduras.gif</string>
		<key>name</key>
		<string>Honduras</string>
	</dict>
	<dict>
		<key>continent</key>
		<string>Asia</string>
		<key>flag</key>
		<string>kyrgyzstan.gif</string>
		<key>name</key>
		<string>Kyrgyzstan</string>
	</dict>
</array>
</plist>
